.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/.clang-format

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.ignore
CMakeUserPresets.json
build
vcpkg_installed
valgrind/logoutput.txt

# Ignore images, files too big (>100MB)
*.png
*.jpg
